# Secrets
*.env
.env

# RStudio files
.Rhistory
.Rapp.history
.Rproj.user
.Rhistory
.RData*
.Ruserdata

# Data
*.csv
*.dat
*.tab
musicoset*/

# Outputs
outputs/
figures/
*.html
*.pdf
*.png
*.jpg
*.mp4
*.xlsx
*.spv
*.twb*

# Exceptions
!illustrations/**
!visualisation_project/images/**

# System files
.DS_Store
Thumbs.db